#https://www.figma.com/design/HdoARO9iL1dejGF55vH86l/INTERN-TASK-(Copy)?node-id=0-1&node-type=canvas&t=zULQ1m9Lmv61PclZ-0

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
